<h1>Student Dashboard</h1>


<table>
 <tbody>
     <% @students_children.each do |student| %>
       <tr><td><%=  student.name  %></td></tr>
       <tr>
         <% Achievement.get_assignments_for_student_email(student.student_email).each do |achievement| %>
           <tr>
             <td><%= achievement.name %></td>
             <td><%= achievement.point_value %></td>
             <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
             <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
       </tr>
     <% end %>
 </tbody>
</table>

<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>
<%= link_to 'Home', :root %>
<% #link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
