<h1>Teacher Dashboard</h1>


<table>
 <tbody>
     <% Student.get_all_children_for_teacher_id( session[:teacher_id] ).each do |student| %>
       <tr><td><%=  student.name  %></td></tr>
       <tr>
         <% Achievement.get_assignments_for_student_email( student.student_email ).each do |achievement| %>
           <tr>
             <td><%= achievement.assignment_name %></td>
             <td><%= achievement.score %></td>
             <td><%= achievement.due_on %></td>
             <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
             <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
       </tr>
     <% end %>
 </tbody>
</table>

<%= link_to 'Create new teacher', new_teacher_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>

<%= link_to 'Change your password', edit_teacher_path(Teacher.find_by(id: session[:teacher_id] )) %>
